* {
  box-sizing: border-box;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Homepage css*/
.homepage-button {
  font-size: 12px;
  border: 1px solid blue;
  background: transparent;
  height: 40px;
  width: 100px;
  color: blue;
}
.homepage-button:hover {
  border: 1px solid red;
  color: red;
  cursor: pointer;
}
